body {
    background-color: #5f3a3a;
}

#container {
    box-sizing: border-box;
    border-style: solid;
    border-color: #f18973;
    border-width: 3px;
    width: 50%;
    background-color: #f18973;
    margin: auto;
    padding: 10px;
}

#text2 {
    padding-left: 85px;
}

#text3 {
    padding-left: 85px;
}
#container2{
    box-sizing: border-box;
    
}
