

#container {
    box-sizing: border-box;
    border-style: solid;
    border-width: 3px;
    width: 50%;
    background-image: url(flower.jpg);
    margin: auto;
    padding: 10px;
}



#text2 {
    padding-left: 85px;
}

#text3 {
    padding-left: 85px;
}
